x{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment List{% endblock %}

{% block content %}

	<!-- banner 2 -->
	<div class="inner-banner-w3ls">
		<div class="container">

		</div>
		<!-- //banner 2 -->
	</div>


	<!-- team -->
	<section class="team py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="w3ls-titles text-center mb-5">
				<h3 class="title">Mental Health Counsellor</h3>
				<span>
					<i class="fas fa-user-md"></i>
				</span>
			</div>

			</div>
			<div class="container pt-5 pb-5" id="about">
			<div class="row">
				<div class="col-md-4">
					<h1>Manoj Yada</h1>
					<p class="pt-2">
						 You can reach out to me via whatsapp for any queries. <br>
						<a href="https://wa.me/919137281662?text=Help">
							<i class="fab fa-whatsapp" style="color: green; font-size: 30px;"></i>
						</a>
					</p>
				</div>

			</div>
		</div>
	</section>


</div>
{% endblock %}